.navigationBar{
    background-color: #333333;
    display: flex;
    text-align: center;
    padding: 0px;
    justify-content: space-between;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.navItem{
    padding:10px 12px 4px 15px;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    border-color: #333333;
    color: white;
    font-family: Ebrima;
    font-size: 18px;
    font-weight:bolder;
}
.navItem:hover{
    background-color: #f89502;
    border-color: white;
    color: black;
    cursor: pointer;
    font-weight: bolder;
}
.navigate{
    color: inherit;
    
    text-decoration: none;
}
.icon{
    margin: 8px 28px 8px 0px;
}
.activePage{
    background-color: #f89502;
    border-color: white;
    color: black;
    font-weight: bolder;
}